<a href="https://colab.research.google.com/github/ABB-4101/2025-26_AI-B-DS_4101-Abdulrahman/blob/main/collections_operations.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [19]:
# Create a list with initial elements
list = [1, 2, 3, 4, 5]

# Print the entire list
print(list)

# Print the first element of the list (index starts from 0)
print(list[0])

# Print the element at index 2 (third element)
print(list[2])

# Add a single element (6) to the end of the list
list.append(6)
print(list)

# Add multiple elements (7, 8, 9) to the end of the list
list.extend([7, 8, 9])
print(list)

# Find the length of the list and store it in variable 'a'
a = len(list)
print(a)

# Remove the first occurrence of value 1 from the list
list.remove(1)
print(list)

# Remove and return the last element of the list
list.pop()
print(list)

# Find the minimum value in the list
b = min(list)
print(b)

# Find the maximum value in the list
c = max(list)
print(c)

# Calculate the sum of all elements in the list
d = sum(list)
print(d)

[1, 2, 3, 4, 5]
1
3
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6, 7, 8, 9]
9
[2, 3, 4, 5, 6, 7, 8, 9]
[2, 3, 4, 5, 6, 7, 8]
2
8
35

In [20]:
# Create a tuple with initial elements
tup = (1, 2, 3, 3, 3, 4, 5)

# Print the entire tuple
print(tup)

# Print the first element of the tuple
print(tup[0])

# Print the element at index 2 (third element)
print(tup[2])

# Find the length of the tuple
a = len(tup)
print(a)

# Find the minimum value in the tuple
b = min(tup)
print(b)

# Find the maximum value in the tuple
c = max(tup)
print(c)

# Calculate the sum of all elements in the tuple
d = sum(tup)
print(d)

# Count how many times the value 3 appears in the tuple
e = tup.count(3)
print(e)

# Find the index of value 4 in the tuple
f = tup.index(4)
print(f)

(1, 2, 3, 3, 3, 4, 5)
1
3
7
1
5
21
3
5

In [21]:
# Create a set with initial elements
s = {1, 2, 3, 4, 5}

# Print the entire set
print(s)

# Add a single element to the set
s.add(6)
print(s)

# Add multiple elements to the set
s.update([7, 8, 9])
print(s)

# Find the number of elements in the set
a = len(s)
print(a)

# Remove a specific element from the set
s.remove(1)
print(s)

# Remove and return an arbitrary element from the set
s.pop()
print(s)

# Find the minimum value in the set
b = min(s)
print(b)

# Find the maximum value in the set
c = max(s)
print(c)

# Calculate the sum of all elements in the set
d = sum(s)
print(d)

s1 = {1, 2, 3}
s2 = {3, 4, 5}

print(s1.union(s2))          # {1, 2, 3, 4, 5}
print(s1.intersection(s2))   # {3}
print(s1.difference(s2))     # {1, 2}

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6, 7, 8, 9}
9
{2, 3, 4, 5, 6, 7, 8, 9}
{3, 4, 5, 6, 7, 8, 9}
3
9
42
{1, 2, 3, 4, 5}
{3}
{1, 2}

In [22]:
# Create a dictionary with initial key-value pairs
data = {
    1: "one",
    2: "two",
    3: "three",
    4: "four",
    5: "five"
}

# Print the entire dictionary
print(data)

# Access value using a key
print(data[1])        # value for key 1
print(data[3])        # value for key 3

# Add a new key-value pair to the dictionary
data[6] = "six"
print(data)

# Add multiple key-value pairs to the dictionary
data.update({7: "seven", 8: "eight", 9: "nine"})
print(data)

# Find the number of key-value pairs in the dictionary
a = len(data)
print(a)

# Remove a key-value pair using key
data.pop(1)
print(data)

# Remove and return the last inserted key-value pair
data.popitem()
print(data)

# Get all keys from the dictionary
keys = data.keys()
print(keys)

# Get all values from the dictionary
values = data.values()
print(values)

{1: 'one', 2: 'two', 3: 'three', 4: 'four', 5: 'five'}
one
three
{1: 'one', 2: 'two', 3: 'three', 4: 'four', 5: 'five', 6: 'six'}
{1: 'one', 2: 'two', 3: 'three', 4: 'four', 5: 'five', 6: 'six', 7: 'seven', 8: 'eight', 9: 'nine'}
9
{2: 'two', 3: 'three', 4: 'four', 5: 'five', 6: 'six', 7: 'seven', 8: 'eight', 9: 'nine'}
{2: 'two', 3: 'three', 4: 'four', 5: 'five', 6: 'six', 7: 'seven', 8: 'eight'}
dict_keys([2, 3, 4, 5, 6, 7, 8])
dict_values(['two', 'three', 'four', 'five', 'six', 'seven', 'eight'])