<a href="https://colab.research.google.com/github/ABB-4101/2025-26_AI-B-DS_4101-Abdulrahman/blob/main/WEEK-4/missingvalues.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
    'Age': [25, None, 35, 40, 28],
    'Salary': [50000, 60000, None, 70000, 62000],
    'Allowances': [2000, None, 2000, 2000, 2500]
}

df = pd.DataFrame(data)

# (a) Show missing values (True/False)
print("Missing Values (True/False):")
print(df.isnull())

# (b) Sum of missing values
print("\nMissing Values Count per Column:")
print(df.isnull().sum())

print("\nTotal Missing Values in Dataset:")
print(df.isnull().sum().sum())

# (c) Replace missing values with mean
df_filled = df.fillna(df.mean(numeric_only=True))

print("\nData after replacing missing values with mean:")
print(df_filled)

Missing Values (True/False):
    Name    Age  Salary  Allowances
0  False  False   False       False
1  False   True   False        True
2  False  False    True       False
3  False  False   False       False
4  False  False   False       False

Missing Values Count per Column:
Name          0
Age           1
Salary        1
Allowances    1
dtype: int64

Total Missing Values in Dataset:
3

Data after replacing missing values with mean:
      Name   Age   Salary  Allowances
0    Alice  25.0  50000.0      2000.0
1      Bob  32.0  60000.0      2125.0
2  Charlie  35.0  60500.0      2000.0
3    David  40.0  70000.0      2000.0
4      Eve  28.0  62000.0      2500.0